---
import SideMenuLink from "./SideMenuLink.astro";
import Tag from "./Tag.astro";
import Library from "../icons/Library.astro";
import Search from "../icons/Search.astro";
import List from "../icons/List.astro";
import { playlists } from "../lib/data";
import PlaylistLink from "./PlaylistLink.astro";
---

<main
    class="bg-containerSpotify rounded-lg cmd:w-full w-[6rem] flex-grow p-5 flex flex-col gap-5 cmd:items-start items-center transition-all duration-200"
>
    <ul class="flex flex-col gap-6">
        <SideMenuLink href="/">
            <Library />
            <span class="cmd:block hidden">Tu biblioteca</span>
        </SideMenuLink>
    </ul>

    <ul id="no-scroll" class="w-full h-9 gap-2 overflow-auto cmd:flex hidden">
        <Tag>Playlists</Tag>
        <Tag>Artistas</Tag>
        <Tag>Álbumes</Tag>
        <Tag>Podcasts y programas</Tag>
    </ul>

    <section class="flex justify-between">
        <button
            class="w-10 h-10 text-textSpotify hover:bg-tagSpotify grid place-content-center rounded-full"
        >
            <Search />
        </button>
        <button
            class="justify-center items-center gap-2 text-textSpotify cmd:flex hidden"
        >
            Recientes
            <List />
        </button>
    </section>

    <section>
        <ul
            class="flex flex-col gap-2 overflow-y-scroll playlists"
            id="no-scroll"
        >
            {playlists.map((playlist) => <PlaylistLink playlist={playlist} />)}
        </ul>
    </section>
</main>

<style>
    /* No estoy nada orgulloso de esto :c */
    @media (max-height: 860px) {
        .playlists {
            max-height: 400px;
        }
    }
    @media (max-height: 850px) {
        .playlists {
            max-height: 350px;
        }
    }
    @media (max-height: 800px) {
        .playlists {
            max-height: 300px;
        }
    }
    @media (max-height: 750px) {
        .playlists {
            max-height: 250px;
        }
    }
    @media (max-height: 700px) {
        .playlists {
            max-height: 200px;
        }
    }
    @media (max-height: 650px) {
        .playlists {
            max-height: 150px;
        }
    }
    @media (max-height: 600px) {
        .playlists {
            max-height: 100px;
        }
    }
</style>
