---
export interface Props {
    grow?: boolean;
    center?: boolean;
    titleGrow?: boolean;
}

const { grow = false, center = false, titleGrow = false } = Astro.props;
---

<div
    class={`min-w-[1rem] min-h-[1rem] text-textSpotify opacity-80 truncate ${
        grow ? "flex-1" : ""
    } ${center ? "flex justify-center items-center" : ""}
     ${titleGrow ? "max-w-[180px]" : ""}`}
>
    <slot />
</div>
